* {
    -fx-color-primary: #640015 !important;
    -fx-color-btn-text: #fafafa !important;
    -fx-color-bg-hover: rgba(100, 0, 21, 0.15) !important;
}

.sidebar-logo {
    -fx-background-image: url(images/logo_1.png) !important;
}