* {
    -fx-color-primary: #ffffff !important;
    -fx-color-bg-hover: rgba(10, 10, 10, 0.15) !important;
    -fx-color-btn-text: #000000 !important;
}

.sidebar-logo {
    -fx-background-image: url(../images/logo_1.png) !important;
}