* {
    -fx-color-alert: rgba(255, 0, 0, 1) !important;
    -fx-color-text-1: #262626 !important;
    -fx-color-text-2: #434343 !important;
    -fx-color-btn-text: -fx-color-text-1 !important;

    -fx-color-bg-1: #9b9b9b !important;
    -fx-color-bg-2: #e1e1e1 !important;
    -fx-color-bg-3: #ffffff !important;
    -fx-color-bg-4: #f0f0f0 !important;
}

/*.header {*/
/*    -fx-background-color: #373737 !important;*/
/*}*/

/*.header .h1 {*/
/*    -fx-text-fill: #fafafa !important;*/
/*}*/