/********************************************************************************/
/* DEFAULT VALUES                                                               */
/********************************************************************************/
* {
    -fx-color-primary: rgb(194, 127, 0);
    -fx-color-success: green;
    -fx-color-alert: red;
    -fx-color-text-1: #fafafa;
    -fx-color-text-2: #bebebe;
    -fx-color-btn-text: #fafafa;

    -fx-color-bg-1: #282828;
    -fx-color-bg-2: #373737;
    -fx-color-bg-3: #464646;
    -fx-color-bg-4: #646464;
    -fx-color-bg-hover: rgba(194, 127, 0, 0.15);
}

.root {
    -fx-pref-height: 720;
    -fx-pref-width: 1280;
    -fx-font: 14px "Helvetica";
    -fx-focus-color: -fx-color-primary;
    -fx-accent: -fx-color-primary;
    -fx-faint-focus-color: transparent;
}
/********************************************************************************/
/* LOGIN                                                                        */
/********************************************************************************/
.login-background {
    -fx-background-image: url(../images/background.jpg);
    -fx-background-size: cover;
    -fx-font-size: 16;
}

.login-content {
    -fx-background-color: -fx-color-bg-2;
    -fx-background-radius: 5;
    -fx-padding: 40 50 40 50;
    -fx-spacing: 15;
    -fx-effect: dropshadow(three-pass-box, -fx-color-bg-2, 15, 0, 0, 0);
}

.login-text {
    -fx-text-fill: -fx-color-text-1;
    -fx-max-width: 200;
    -fx-padding: 10 0 10 0;
}

.login-icon {
    -fx-fill: -fx-color-text-2;
}

.login-textfield {
    -fx-background-color: transparent !important;
    -fx-text-fill: -fx-color-text-2 !important;
    -fx-prompt-text-fill: -fx-color-text-2 !important;
    -fx-border-color: -fx-color-text-2 !important;
    -fx-border-width: 0 0 2 0 !important;
    -fx-min-width: 225 !important;
    -fx-max-width: 225 !important;
}

.login-textfield:focused {
    -fx-text-fill: -fx-color-text-1 !important;
    -fx-prompt-text-fill: -fx-color-text-1 !important;
    -fx-border-color: -fx-color-primary !important;
}

.login-button {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-color-text-2;
    -fx-border-color: -fx-color-primary;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.login-button:pressed, .login-button:focused, .login-button:hover {
    -fx-background-color: -fx-color-primary;
    -fx-text-fill: -fx-color-text-1;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}
/********************************************************************************/
/* SIDEBAR                                                                      */
/********************************************************************************/
.sidebar {
    -fx-min-width: 225;
    -fx-max-width: 225;
    -fx-background-color: -fx-color-bg-1;
}

.sidebar-logo {
    -fx-background-image: url(../images/logo_2.png);
    -fx-background-size: contain;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
}

.sidebar-top {
    -fx-min-height: 100;
    -fx-max-height: 100;
}

.sidebar-body {
    -fx-padding: 30;
    -fx-spacing: 30;
}

.sidebar-body Button {
    -fx-max-width: infinity;
    -fx-padding: 10 10 10 15;
}

.sidebar-body ToggleButton {
    -fx-max-width: infinity;
    -fx-background-color: -fx-color-primary;
}
/********************************************************************************/
/* HEADER                                                                       */
/********************************************************************************/
.header {
    -fx-min-height: 100;
    -fx-max-height: 100;
    -fx-background-color: -fx-color-bg-2;
    -fx-padding: 32.5 30 32.5 30;
    -fx-spacing: 20;
    -fx-alignment: center;
}

.searchbar-btn-home {
    -fx-background-radius: 5 0 0 5 !important;
}

.searchbar-btn-search {
    -fx-background-radius: 0 5 5 0 !important;
}

.searchbar-textfield {
    -fx-background-radius: 0;
    -fx-min-width: 300;
    -fx-text-fill: -fx-color-text-1;
    -fx-prompt-text-fill: -fx-color-text-2;
    -fx-background-color: -fx-color-bg-3;

}

.header Button, .header TextField {
    -fx-max-height: infinity;
}
/********************************************************************************/
/* CONTENT                                                                      */
/********************************************************************************/
.content {
    -fx-padding: 15;
    -fx-background-color: -fx-color-bg-3;
}
/********************************************************************************/
/* BUTTONS                                                                      */
/********************************************************************************/
Button, ToggleButton {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2 !important;
    -fx-border-insets: 0 0 -1 0, 0, 1, 2 !important;
}

Button:pressed, ToggleButton:pressed {
    -fx-background-insets: 1 1 0 1 !important;
}

.btn, .btn FontAwesomeIconView {
    -fx-text-fill: -fx-color-btn-text;
    -fx-fill: -fx-color-btn-text;
    -fx-background-color: -fx-color-primary;
    -fx-background-radius: 5;
}

.btn-success, .btn-success FontAwesomeIconView {
    -fx-text-fill: -fx-color-btn-text;
    -fx-fill: -fx-color-btn-text;
    -fx-background-color: -fx-color-success;
    -fx-background-radius: 5;
}

.btn-alert, .btn-alert FontAwesomeIconView {
    -fx-text-fill: -fx-color-btn-text;
    -fx-fill: -fx-color-btn-text;
    -fx-background-color: -fx-color-alert;
    -fx-background-radius: 5;
}

.btn-notify, .btn-notify FontAwesomeIconView {
    -fx-text-fill: -fx-color-primary;
    -fx-fill: -fx-color-primary;
    -fx-background-color: -fx-color-btn-text;
    -fx-border-color: -fx-color-primary;
    -fx-background-radius: 10;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}
/********************************************************************************/
/* CHOICE BOX                                                                   */
/********************************************************************************/
.choice-box {
    -fx-background-color: transparent;
    -fx-mark-color: -fx-color-text-2;
}

.choice-box > .label {
    -fx-text-fill: -fx-color-text-2;
}

.choice-box:focused > .label {
    -fx-text-fill: -fx-color-text-1;
}

.choice-box .context-menu {
    -fx-background-color: -fx-color-bg-3;
}

.choice-box .menu-item > .label {
    -fx-text-fill: -fx-color-text-2;
}

.choice-box .menu-item:focused {
    -fx-background-color: -fx-color-primary;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: -fx-color-text-1;
}
/********************************************************************************/
/* TABLE                                                                        */
/********************************************************************************/
.table-view,
.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: -fx-color-bg-2;
}

.table-view {
    -fx-padding: 0 10 10 10;
}

.table-view .column-header-background{
    -fx-padding: 5;
    -fx-text-background-color: -fx-color-text-1;
    -fx-font-size: 16;
    -fx-border-color: -fx-color-text-2;
    -fx-border-width: 0 0 2 0;
}

.table-view .table-row-cell, .table-view .table-cell {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-background-color: -fx-color-text-2;
    -fx-cell-size: 40;
    -fx-alignment: center-left;
}

.table-view .table-row-cell:filled:hover .table-cell, .table-view .column-header:hover{
    -fx-background-color: -fx-color-bg-hover;
    -fx-text-fill: -fx-color-text-1;
    -fx-font-weight: bold;
}


.table-view .scroll-bar {
    -fx-background-color: transparent;
}
/********************************************************************************/
/* MODAL                                                                        */
/********************************************************************************/
.modal-header {
    -fx-padding: 15;
    -fx-border-color: -fx-color-primary;
    -fx-border-width: 2 2 0 2;
    -fx-background-color: -fx-color-bg-2;
    -fx-alignment: center-left;
}

.modal-content {
    -fx-padding: 15;
    -fx-border-color: -fx-color-primary;
    -fx-border-width: 0 2 2 2;
    -fx-background-color: -fx-color-bg-3;
    -fx-alignment: center;
}
/********************************************************************************/
/* SPINNER                                                                      */
/********************************************************************************/
.spinner {
    -fx-background-color: transparent;
    -fx-base: transparent;
}

.spinner:focused {
    -fx-border-width: 1;
    -fx-background-insets: 2;
    -fx-border-radius: 4;
    -fx-border-color: -fx-color-primary;

}

.spinner .text-field {
    -fx-alignment: center-right;
    -fx-background-color: -fx-color-bg-3;
    -fx-text-fill: -fx-color-text-1;
    -fx-background-insets: 0;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: -fx-color-primary;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-opacity: 0.8;
}
.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-opacity: 1;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -fx-color-btn-text;
}
/********************************************************************************/
/* HYPERLINK                                                                    */
/********************************************************************************/
Hyperlink {
    -fx-text-fill: -fx-color-primary;
    -fx-padding: 0 !important;
}

Hyperlink:hover {
    -fx-text-fill: -fx-color-primary;
}

Hyperlink:focused {
    -fx-border-width: 0;
}
/********************************************************************************/
/* TEXTFIELD / AREA                                                             */
/********************************************************************************/
.content TextField {
    -fx-background-color: -fx-color-bg-4;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 1.5;
    -fx-text-fill: -fx-color-text-1;
}
.content TextField:focused {
    -fx-border-color: -fx-color-primary;
}

.content TextArea {
    -fx-background-insets: -0.5;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-color-text-1;

}

.content TextArea:focused {
    -fx-background-color: -fx-color-primary;
}

.content TextArea .content {
    -fx-background-color: -fx-color-bg-4;
    -fx-background-radius: 0;
}

/********************************************************************************/
/* ELEMENTS                                                                     */
/********************************************************************************/
.h1 {
    -fx-font-size: 28;
    -fx-text-fill: -fx-color-text-1;
    -fx-font-weight: bold;
}

.h2 {
    -fx-font-size: 16;
    -fx-text-fill: -fx-color-text-1;
    -fx-font-weight: bold;
}

.color-text-1 {
    -fx-text-fill: -fx-color-text-1;
}

.color-text-2 {
    -fx-text-fill: -fx-color-text-2;
}

.p-1 {
    -fx-text-fill: -fx-color-text-1;
}

.p-1-bold {
    -fx-text-fill: -fx-color-text-1;
    -fx-font-weight: bold;
}

.alert {
    -fx-text-fill: -fx-color-alert !important;
}